<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://newworld22function.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b9144b57-a2c0-4fe8-80ab-10fe51d32287/resourceGroups/newworld22-resources/providers/Microsoft.Web/sites/newworld22Function</ResourceId>
    <PublishUrl>https://newworld22function.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>